#gnore Files
.idea
.DS_Store
Application/Runtime
Application/Common/Conf/config.php
Application/Home/Conf/config.php
Application/.DS_Store
Application/Admin/.DS_Store
Application/Admin/View/.DS_Store
Public/node_modules
Public/package.json
Public/build/images
