body, html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  overflow: hidden;
  background-color: #FAF9DE; }

#start {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../images/start.png");
  background-size: 100% 100%; }
  #start .start-btn {
    display: inline;
    position: absolute;
    top: 38%;
    right: 5%;
    height: 24.64789%;
    width: 16.09375%; }
  #start img {
    width: 100%;
    height: 100%; }

#index {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../images/index.png");
  background-size: 100% 100%; }
  #index .one-pic img {
    width: 100%;
    height: 100%;
    border: 0; }
  #index .time-counter-container {
    height: 13.38028%;
    width: 6.71875%;
    position: fixed;
    bottom: 15.3169%;
    left: 7.5%; }
    #index .time-counter-container img {
      float: left;
      width: 100%;
      height: 20.91503%; }
    #index .time-counter-container img:nth-child(3) {
      width: 80%;
      height: 10%;
      margin-top: 5%;
      margin-bottom: 5%;
      margin-left: 12%; }
      #index .restart-container{
        width: 7.8%;
        height: 13.753333%;
        position: absolute;
        left: 2.5%;
        top: 4.6%;
        background-color: red;
      }
#index .restart-container img {
  border: 0;
  width: 100%;
  height: 100%;
}

#result {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../images/result.png");
  background-size: 100% 100%; }
  #result .btn-container .share-btn, #result .btn-container .replay-btn {
    width: 14.375%;
    height: 36.53169%;
    position: absolute;
    top: 9.0669%; }
    #result .btn-container .share-btn img, #result .btn-container .replay-btn img {
      float: left;
      width: 100%;
      height: 100%; }
  #result .btn-container .share-btn {
    left: 44.6875%; }
  #result .btn-container .replay-btn {
    left: 63.4375%; }
  #result .spend-time, #result .rank-info {
    max-height: 13.99648%;
    width: 7.5%;
    position: absolute;
    top: 58.71479%; }
    #result .spend-time img, #result .rank-info img {
      display: none;
      float: left;
      width: 100%;
      height: 24%; }
  #result .spend-time {
    left: 47.96875%; }
  #result .rank-info {
    left: 67.1875%; }

.selectedSlider {
  -webkit-transform: scale(1.3);
  -webkit-transition: -webkit-transform 0.1s;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 999; }

.unselectSlider {
  -webkit-transform: scale(1);
  -webkit-transition: -webkit-transform 0.1s;
  box-shadow: 0;
  position: relative;
  z-index: 1; }
